<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="./directives/drawCanvas.js"></script>
</head>
<body ng-controller="MagneticBlocks">

<div drawing width="800" height="600" ng-click="addSquare($event)" add="addNewSquare" stop="stop"></div>
<div>
    <strong style="margin-right: 10%">Click the canvas to add square</strong>
    <button ng-click="stopMoving()">{{ stop ? 'Resume' : 'Stop moving'}}</button>
</div>

</body>
</html>